h1{
    text-align: center;
    margin-left: 10;
    margin-right: 10;
    background-color: goldenrod;
}
body{
    background-color: green;
}

iframe{
    align-items: center;
    text-align: center;
}

#btn{
    text-align: center;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

